# STS Server Configurations
STS_HOST=0.0.0.0
STS_PORT=6000
DB_DIR=server/data
CA_CERT_PATH=server/data/rootCA.pem
CA_KEY_PATH=server/data/rootCA.key
USER_DB_PATH=server/data/users.json
BANNED_DB_PATH=server/data/banned.json
CERT_DB_PATH=server/data/cert_db.json
CRL_DB_PATH=server/data/revoked_serials.json
DB_PATH=server/data/sts.db

# Admin PBKDF2 configuration (Default password: admin)
# Salt: default_salt_for_development
# Hash: pbkdf2_hmac("sha256", b"admin", b"default_salt_for_development", 100000)
MASTER_PASSWORD_HASH=6c537790c2fc1990f71039615ca9f34a9862f73838ec342929da92984b07f436
MASTER_PASSWORD_SALT=default_salt_for_development

# Client Configurations
KDC_IP=127.0.0.1
KDC_PORT=6000
PEER_PORT=7000

# Logging Configurations
STS_LOG_FILE=server/data/sts.log
STS_LOG_LEVEL=INFO
CLIENT_LOG_LEVEL=INFO

